body {
    font-family: Arial, sans-serif;
    background-color: rgba(143, 186, 157, 0.667);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #2c3e50;
    padding: 20px;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imagenes {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 600px;
    max-height: 400px;
    overflow: hidden;
}

#carouselExampleIndicators {
    grid-area: imagenes;
}

.carousel-item img,
.carousel-item video {
    object-fit: cover;
    width: auto; 
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datos {
    display: grid;
    grid-template-areas: 
        "imagenes imagenes oferta"
        "informacion observaciones observaciones"
        "informacion certificador certificador";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.informacion, .observaciones, .certificador, .oferta {
    background-color: rgb(240, 242, 239);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.oferta {
    grid-area: oferta;
}

.informacion {
    grid-area: informacion;
}

.observaciones {
    grid-area: observaciones;
    overflow-wrap: break-word;
}

.certificador {
    grid-area: certificador;
}

.certificador img {
    height: 120px;
}

h2 {
    color: #2c3e50;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    color: #34495e;
    line-height: 1.6;
}

.observaciones p {
    font-style: italic;
}

.certificador p {
    font-weight: bold;
}

.oferta {
    background-color: #f0f2ef;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.oferta h2 {
    color: #2c3e50;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
}

.oferta p {
    font-size: 16px;
    color: #34495e;
}

.oferta form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.oferta input, .oferta button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.oferta button {
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}

.oferta button:hover {
    background-color: #34495e;
}

@media screen and (max-width: 650px) {
    .datos {
        grid-template-columns: 1fr;
        grid-template-areas:
            "imagenes"
            "oferta"
            "informacion"
            "observaciones"
            "certificador";
    }

    .carousel-inner {
        width: 100%;
    }

    .informacion, .observaciones, .certificador, .oferta {
        margin: 10px;
        padding: 15px;
    }

    .carousel-item img,
    .carousel-item video {
    object-fit: contain;
    width: auto; 
    height: auto;
    max-height: 50%;
}
}
