.listas {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.listas li {
    margin: 0px ;
}

.listas img {
    width: 200px;
    height: auto;
    border-radius: 5%;
}

.listas img:hover{
    width: 250px;
    transition: 0.5s ease-in-out;
}