body {
    font-family: Arial, sans-serif;
    background-color: rgba(143, 186, 157, 0.667);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    text-align: center;
    color: #2c3e50;
    padding: 20px 0px;
    margin: 0;
    background-color: #ffffff;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

table.listas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #d0d0d0;
}

table.listas thead {
    background-color: #2c3e50;
    color: white;
}

table.listas th, table.listas td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

table.listas tbody tr:hover {
    background-color: rgba(121, 158, 133, 0.667);
    color: white;
}

table.listas img {
    width: 150px;
    height: auto;
    border-radius: 5%;
}

@media screen and (max-width: 650px) {
    table.listas img {
        width: 100px;
    }
}

td a img.factura {
    width: auto;
    height: 30px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.no-lotes {
    font-size: 1.2em;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width: 650px) {
    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .info label {
        width: 48%;
    }

    .btn {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .esconder {
        display: none;
    }
    .aparecer {
        display: table-cell;
    }
}

@media screen and (min-width: 800px) {
    .aparecer {
        display: none;
    }
    .esconder {
        display: table-cell;
    }
}

@media screen and (max-width: 650px) {
    form {
        padding: 15px;
    }

    input[type="number"],
    input[type="text"],
    input[type="file"],
    button {
        padding: 8px;
    }

    table.listas th, table.listas td {
        font-size: 16px;
        padding: 5px;
    }
}
.fila-enlace {
    cursor: pointer;
}

.fila-enlace:hover {
    background-color: rgba(121, 158, 133, 0.667);
    color: white;
}
