* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(143, 186, 157, 0.667);
}

/* ------------------------  MAIN CONTENT  ------------------------ */
.info_vaca {
    width: 100%;
    margin: 0;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.img_vaca ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    animation: desplazar 50s infinite linear;
}

@keyframes desplazar {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-4400px);
    }
    100% {
        transform: translateX(0);
    }
}

.img_vaca li {
    flex: 0 0 1200px;
    scroll-snap-align: start;
}

.img_vaca img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.caracteristicas h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    justify-items: center;
}

.uc{
    display: flex;
    background-color: gray;
}

.ubi {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 20px;
    width: 50%;
    margin-left: 5%;
    text-align: center;
}

.ubi h2{
    font-size: 35px;
}

.ubi iframe {
    border: 10px solid white;
    width: 100%;
    height: 360px;
    margin-bottom: 10%;
}

.uc{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.consultas{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[name="texto"]{
    height: 120px;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}


/* ------------------------  estilo cartas  ------------------------- */
.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    padding: 10px; 
}

.card, .card2 {
    position: relative;
    width: 300px;
    height: 300px;
    background: #000;
    display: flex;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 10);
    overflow: hidden;
    transition: 0.9s ease-in-out;
    color: white;
    margin: 40px; 
}

.card .details, .card2 .details {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .details, .card2:hover .details {
    opacity: 1;
}

.card:hover, .card2:hover {
    width: 800px;
}

.card .img, .card2 .img {
    position: relative;
    padding: 0;
}

@media screen and (max-width: 900px) {
    .cartas {
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        padding: 10px;
    }

    .card:hover, .card2:hover {
        height: 530px; 
        width: 300px;
        margin: 10px;
    }

    .card .img, .card2 .img {
        position: relative;
        padding: 0;
        max-height: 300px;
    }

    .card .details, .card2 .details {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .card:hover .details, .card2:hover .details {
        opacity: 1;
    }

    .uc{
        display: block;
    }

    .consultas, .ubi{
        width: 90%;
        margin-left: 5%;
    }
}