body {
    font-family: Arial, sans-serif;
    background-color: rgba(143, 186, 157, 0.667);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: beige;
    align-items: center;
    justify-content: space-between;
}

.abrir_menu {
    color: black;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
    z-index: 11;
}

.header_checkbox {
    display: none;
    z-index: 11;
}

.header_nav {
    display: none;
    background-color: beige;
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0;
    align-items: center;
    z-index: 10;
}

.header_nav_lista {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header_checkbox:checked ~ .header_nav {
    display: flex;
}

.header_logo {
    max-width: 100%;
    max-height: 70px;
    margin: 10px 20px;
    z-index: 100;
}

.header_nav_link {
    list-style: none;
}

.header_nav_link a {
    color: black;
    text-decoration: none;
    font-size: 23px;
}

.header_nav_link a:hover {
    color: rgb(53, 85, 63);
}


/*-----------------------------------------------------------------------------*/

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="file"],
form input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #218838;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.listas {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.listas li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.listas img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.listas img:hover {
    width: 270px;
    height: auto;
}
/*---------------------------------------------------------------------------*/

@media screen and (min-width: 630px) {
    .header_nav {
        display: flex;
        height: auto;
        width: auto;
        justify-content: space-between;
        position: static;
        z-index: 1;
        margin-right: 30px;
    }

    .header_nav_lista {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        z-index: 10;
    }

    .abrir_menu {
        display: none;
    }

    .info{
        display: flex;
        flex-direction: row;
    }

    .btn{
        display: flex;
        justify-content: center;
    }

    form input[type="submit"] {
        width: 150px;
    }
}