.datos {
    width: 100%;
    margin: 0;
    overflow:visible;
    scroll-snap-type: x mandatory;
}


.img{
    height: 20px;
    width: 30px;
}

.ordenar{
    display: flex;
    justify-content: center;
}

input{
    width: 80%;
}
